*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Exo 2', sans-serif;
  background-color: #00F9FF;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.area-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#area {
  width: 302px;
  height: 302px;
  background-color: #43FB0D;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.symbol {
  height: 60%;
  width: 60%;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(216, 98, 98);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-btn {
  padding: 12px 15px;
  background-color: rgb(14, 18, 255);
  border: none;
  border-radius: 8px;
  font-size: 18px;
}